name: Package CI

on:
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '8.2', '8.5' ]
        elastic: [ 9.2.2 ]

    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: ${{ matrix.elastic }}

      - name: Composer
        run: make composer

      - if: matrix.php == '8.5' && matrix.elastic == '9.2.2'
        name: Coding standard
        run: make cs

      - if: matrix.php == '8.5' && matrix.elastic == '9.2.2'
        name: PHPStan
        run: make phpstan

      - name: Tests
        run: make tests
