name: Package CI

on:
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ 7.4 ]
        elastic: [ 7.12.1, 6.8.15, 5.6.16 ]

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: ${{ matrix.elastic }}

      - name: Composer
        run: make composer

      - if: matrix.php == '7.4'
        name: Coding standard
        run: make cs

      - if: matrix.php == '7.4'
        name: PHPStan
        run: make phpstan

      - if: matrix.php == '7.4'
        name: Tests
        run: make tests

